body {
    background-color: #a7dbe3;
    color: white;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: #3747b3;
}

p {
    color: #2f4c5c;
}

.intro {
    font-size: 20px;
}

.highlight {
    background: yellow;
}

.accent-color {
    color: red;
}

.top-section {
    background: pink;
}

.bottom-section {
    background: green;
}