body {
    background-color: #a7dbe3;
    color: white;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: #3747b3;
}

p {
    color: #2f4c5c;
}

/* the CSS box model */

/*  Margin:
    Border:
    Padding:
*/

.box {
    background: pink;
    background-image: url(../img/gear5.jpg);
    margin: 100px;
    padding: 300px;
     /* top right bottom left */ 

    background-size: cover;
    background-position: center;
}